[submodule "ext/infrared"]
    path = ext/infrared
    url = git@github.com:homecontrol/Arduino-IRremote.git
[submodule "ext/radio"]
	path = ext/radio
	url = git@github.com:homecontrol/Arduino-HCRadio.git
[submodule "ext/cmake"]
	path = ext/cmake
	url = https://github.com/homecontrol/arduino-cmake.git
